@model IEnumerable<IGrouping<string, UTNGOL.Models.SeleccionDTO>>

@{
    ViewData["Title"] = "Grupos";
}

<link rel="stylesheet" href="~/css/grupos.css" />

<div class="container-fluid py-5">

    <div class="text-center mb-5">

        <h1 class="titulo-grupos">

            🏆 FASE DE GRUPOS

        </h1>

        <p class="subtitulo-grupos">

            FIFA WORLD CUP 2026

        </p>

    </div>

    <div class="row">

        @foreach (var grupo in Model)
        {

            <div class="col-lg-6 mb-4">

                <div class="grupo-card">

                    <div class="grupo-header">

                        Grupo @grupo.Key

                    </div>

                    @foreach (var item in grupo.OrderByDescending(x => x.Puntos))
                    {

                        <div class="seleccion-item">

                            <div>

                                <h5>

                                    ⚽ @item.Nombre

                                </h5>

                                <small>

                                    Código FIFA:
                                    @item.CodigoFifa

                                </small>

                            </div>

                            <div class="text-end">

                                <div class="puntos">

                                    @item.Puntos pts

                                </div>

                                <small>

                                    PJ @item.PartidosJugados

                                </small>

                            </div>

                        </div>

                    }

                </div>

            </div>

        }

    </div>

</div>