@model IEnumerable<UTNGOL.Models.SeleccionDTO>

@{
    ViewData["Title"] = "Listado de Selecciones";
}

<h1>Selecciones Participantes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Código FIFA</th>
            <th>Grupo</th>
            <th>Confederación</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.CodigoFifa</td>
                <td>@item.Grupo</td>
                <td>@item.Confederacion</td>

                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.CodigoFifa"
                       class="btn btn-primary btn-sm">
                        Ver Detalle
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>